[Desktop Entry]
Type=Application
Icon=/vagrant/opt/mojo-loader/icon.png
Name=Mojo Loader
Comment=Mojo Loader
Categories=Development
Exec=/vagrant/opt/mojo-loader/mojo-loader
StartupNotify=true
Terminal=false
